In [18]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
import seaborn as sns

In [12]:
df = pd.read_csv('train.csv')[['Age','Pclass','SibSp','Parch','Survived']]

In [13]:
df.sample(5)

      Age  Pclass  SibSp  Parch  Survived
723  50.0       2      0      0         0
557   NaN       1      0      0         0
113  20.0       3      1      0         0
663  36.0       3      0      0         0
746  16.0       3      1      1         0

In [15]:
df.dropna(inplace=True)

In [16]:
df.isnull().sum()

Age         0
Pclass      0
SibSp       0
Parch       0
Survived    0
dtype: int64

In [17]:
x = df.iloc[:,0:4]
y = df.iloc[:,-1]

In [19]:
np.mean(cross_val_score(LogisticRegression(),x,y,scoring='accuracy',cv=20))

0.6933333333333332

In [20]:
x['Family_size'] = x['SibSp']+x['Parch']+1

In [22]:
x.sample(5)

      Age  Pclass  SibSp  Parch  Family_size
854  44.0       2      1      0            2
269  35.0       1      0      0            1
197  42.0       3      0      1            2
285  33.0       3      0      0            1
436  21.0       3      2      2            5

In [25]:
def myfunc(num):
    if num == 1:return 0
    elif num > 1 and num <=4:return 1
    else : return 2

In [34]:
myfunc(2)

1

In [35]:
x['Family_type'] = x['Family_size'].apply(myfunc)

In [39]:
x.drop(columns = ['SibSp','Parch','Family_size'],inplace=True)

In [40]:
x.sample(5)

      Age  Pclass  Family_type
753  23.0       3            0
130  33.0       3            0
179  36.0       3            0
761  41.0       3            0
353  25.0       3            1

In [41]:
np.mean(cross_val_score(LogisticRegression(),x,y,scoring='accuracy',cv=20))

0.7003174603174602