In [20]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [4]:
df = pd.read_csv('iris.csv')

In [5]:
df.sample(5)

     sepal_length  sepal_width  petal_length  petal_width     species
71            6.1          2.8           4.0          1.3  versicolor
18            5.7          3.8           1.7          0.3      setosa
148           6.2          3.4           5.4          2.3   virginica
47            4.6          3.2           1.4          0.2      setosa
132           6.4          2.8           5.6          2.2   virginica

In [6]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
df.size

750

In [9]:
df.ndim

2

In [10]:
df.shape

(150, 5)

In [21]:
label_encoder = LabelEncoder()

In [22]:
df['species'] = label_encoder.fit_transform(df['species'])

In [24]:
df.sample(5)

     sepal_length  sepal_width  petal_length  petal_width  species
126           6.2          2.8           4.8          1.8        2
17            5.1          3.5           1.4          0.3        0
90            5.5          2.6           4.4          1.2        1
22            4.6          3.6           1.0          0.2        0
123           6.3          2.7           4.9          1.8        2

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB