In [54]:
import numpy as np
import pandas as pd
import os
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

In [52]:
df = pd.read_csv('iris.csv')

In [53]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [40]:
encoder = LabelEncoder()

In [41]:
df['species'] = encoder.fit_transform(df['species'])

In [42]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [43]:
new_df = df[df['species'] !=0 ][['sepal_length','sepal_width','species']]

In [44]:
new_df.head()

    sepal_length  sepal_width  species
50           7.0          3.2        1
51           6.4          3.2        1
52           6.9          3.1        1
53           5.5          2.3        1
54           6.5          2.8        1

In [45]:
x = new_df.iloc[:,0:2]
y = new_df.iloc[:,-1]

In [47]:
clf1 = LogisticRegression()
clf3 = RandomForestClassifier()
clf2 = KNeighborsClassifier()

In [48]:
list = [('lr', clf1),('knn', clf2),('rf', clf3)]

In [29]:
x = cross_val_score(i[1],x,y,cv=10,scoring='accuracy')

In [30]:
x

array([0.4, 0.5, 0.6, 0.6, 0.6, 0.4, 0.8, 0.7, 0.7, 0.6])